$content-width: 960px;
$desktop-content-width: 750px;

$header-height: 650px;
$header-height-mobile: 300px;

$title-font-size-desktop-large: 50px;
$title-font-size-tablet: 40px;
$title-font-size-mobile: 36px;

$description-font-size-desktop-large: 22px;
$description-font-size-tablet: 18px;
$description-font-size-mobile: 16px;

$breakpoint-desktop: 980px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$color-white: #fff;
$color-green: #61bf17;
$color-dark-gray: #2d2d2d;
$color-gray: #3c3c3c