.footer {
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #242424;
    &__content {
        @include content-position;
        box-sizing: border-box;
        padding-left: 30px;
        color: #8f8f8f;
        font-size: 12px;
        font-family: "Mada";
        line-height: 20px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .footer {
        height: 60px;
        &__content {
            padding: 0 10px 0 10px;
            font-size: 10px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .footer {
        height: 50px;
        &__content {
            line-height: 12px;
        }
    }
}